
:root
{
    --blue-color: #40628a;
    --blue-border: #243c57;
}

html
{
    height: 100%;
    width: 100%;
    background-image:  url("../content/icons/nanotrasen.svg"), linear-gradient(to bottom, #292929, #202020);
    background-repeat: no-repeat;
    background-size: 30%, auto;
    background-position: 50%;
    background-attachment: fixed;
    font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
 
}

dialog 
{
    position:fixed;
    z-index: 21000;
    top:50%;
    border-radius: 6px;
    color:black !important;
    border-color: var(--blue-color);
}

input
{
    border-radius: 4px;
    min-height: 1rem;
    padding: 0.5rem;
    border-color: var(--blue-color);
}

#chat-input-box
{
    min-width: 90%;
    display:table-cell;
}

#chat-input-div
{
    display: table;
    width: 100%;
    max-width: 100%;
}



#chat-input-box .btn
{
    display: table-cell;
    width: 10%;
    margin: auto;
}

#textBox
{
    color: rgb(200, 200, 200);
}

.text-dark
{
    color: rgb(110, 110, 110);
}

.btn
{
    border-radius: 4px;
    color:white;
    padding: 0.5rem;
    max-width: 10%;
    max-height: 4rem;
    
}
.btn-active
{
    border: 2px solid #161616;
    background-color: var(--blue-color);
}
.btn-active:active
{
    border: 2px solid var(--blue-border);
}
.btn-inactive
{
    border: 2px solid transparent;
    background: none;
}
.btn-inactive:hover
{
    border: 2px solid var(--blue-border);
}
.btn-inactive:active
{
    border: 2px solid var(--blue-border);
    background-color: var(--blue-color);
}
.text-orange
{
    margin: 0px;
    color: #e8bf84;
}
.text-orange-heavy
{
    color: #cd6500;
}
.text-grey
{
    color: #999999;
}
.list-table
{
    border: 1px solid var(--blue-color);
    padding: 3px;
}
.list-table td
{
    background-color: rgb(0, 127, 71);
    padding: 5px;
}
.center-horizontal
{
    margin: auto;
}
.center-text
{
    text-align: center;
}
.hazard
{
    background: repeating-linear-gradient(-45deg, #e9c183 0px 10px, #cfa668 10px 20px);
    color: black;
    padding: 4px;

}
